#head ul li {
  list-style:none;
  display: inline;
  padding: 8%;
}

.trapped {
  border: solid 2px black;
  text-align: right;
  float: left;
  width: 100%;
}
.trapped p {
  width: 60%;
float: left;
}  
#elevator {
   width: 10%;
  float: left;
  margin: 0 auto;
}
#free {
  width:10%;
 float: right;
}
.victory {
  border: solid 2px red;
}
.ping p {
  border: solid 2px red;
  width:80%;
}
#ping {
  width: 100%;
 float: left;
  
}
.victory p {
  width:100%;
  float: right;
}

#memories {
  border: solid 2px blue;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }