#head ul li {
  list-style:none;
  display: inline;
  padding: 8%;
}

.trapped {
/*   border: solid 2px black; */
  text-align: right;
  float: left;
  width: 100%;
}
.trapped h2 {
  text-align: center;
  margin-left: 20%;
}
.trapped p {
  width: 65%;
float: left;
  margin-left: 8%;
  margin-bottom: 5%;
  text-align: justify;
}  

.trapped h3 {
  text-align: left;
}

#elevator {
   width: 25%;
  float: left;
  margin: 0 auto;
}
.ping p {
  width:80%;
  
}
#ping {
  width: 25%;
  float: left;
}
}
.victory p {
  width:100%;
  float: right;
}
#ball {
  width:25%;
  float: right;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
#memories {

}
